* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  padding: 0 250px;
  width: 100vw;
}

.title {
  text-align: center;
}

article {
  margin-top: 1rem;
}

.links {
  display: flex;
  list-style: none;
  padding: 1rem 0;
}
.links__link {
  padding: 1.5rem;
}

.link {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.link--svg svg {
  position: absolute;
  fill: none;
  stroke: dodgerblue;
  stroke-width: 2px;
}
.link--svg svg.arc {
  top: 100%;
  left: -20%;
}
.link--svg svg.scribble {
  top: 100%;
  left: -10%;
}
.link--svg svg path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 350ms;
  transition-timing-function: ease-in;
  will-change: stroke-dashoffset;
}
.link--svg:hover svg path {
  stroke-dashoffset: 0;
  transition-timing-function: ease-out;
}
.link--css::after {
  background-color: dodgerblue;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: right;
  transition: transform 350ms;
  transition-timing-function: ease-in;
  will-change: transform;
}
.link--css:hover::after {
  transform: scale3d(1, 1, 1);
  transform-origin: left;
  transition-timing-function: ease-out;
}